<div class="vertical-menu ">
  <a href="/" class="active">Home</a>
    <a href="https://fitness-body-building.herokuapp.com/" target="_blank">Client Side</a>
  <a href="/diet">Diet Plans</a>
  <a href="/products">Our Products</a>
  <a href="/cart">My Shopping Cart</a>
  <a href="https://theory-assignment-2.herokuapp.com/" target="_blank">Calories Calculator</a>
  <a href="https://awais-chat-room.herokuapp.com/" target="_blank">My Chat Room</a>
  <a href="https://awais-quiz.herokuapp.com/" target="_blank">Here is a Quiz</a>
  <a href="#">Setting</a>
  <a href="#">Help</a>
  
</div>